{% extends "base.html" %}
{% block scripts %}
<script src="/static/js/bingo.js"></script>
{% endblock %}
{% block content %}
  {% if g.user.is_authenticated %}
    <h1>Hi, {{ g.user.nickname }}!</h1>
    <div data-bind="foreach: fields">
      <table class="table table-bordered" data-bind="foreach: $data">
        <tbody>
          <tr data-bind="foreach: $data">
            <td data-bind="text: $data"></td>
          </tr>
        </tbody>
      </table>
    </div>
  {% else %}
    <h1>Bitte einloggen um Bingo zu spielen</h1>
  {% endif %}
{% endblock %}
